<header class="banner top">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/budget">Budget</a></li>
    </ul>

    <form action="/signout" method="post">
      <input type="submit" value="Sign Out">
    </form>
  </nav>
</header>

<aside>
  <% if session[:load_error] %>
    <div class="flash error">
      <%= session.delete(:load_error) %>
    </div>
  <% end %>
</aside>
<section class="budget-info">
  <div>
    <h1>Total Budget: <%= format_currency(@budget[:total]) %></h1>
    <ul class="amounts">
      <li>Amount Spent: <%= format_currency(@budget[:spent]) %></li>
      <li class="<%= remaining_amount_class(@budget[:remaining]) %>">Amount Remaining: <%= format_currency(@budget[:remaining]) %></li>
      <li>(Uncategorized: <%= format_currency(@budget[:uncategorized]) %>)</li>
    </ul>
  </div>
  <div>
    <ul class="buttons">
      <li><a href="/budget/edit">Edit Budget Plan</a></li>
    </ul>
  </div>
</section>

<% if session[:page_error] %>
  <div class="flash error">
    <p><%= session.delete(:page_error) %></p>
  </div>
<% end %>

<% if @categories_for_page.empty? %>
  <div>
    <p>There aren't any categories in your budget right now.</p>
    <p>Click "Edit Budget Plan" above to add some categories!</p>
  </div>
<% else %>
  <section class="category-info">
    <h2>Categories:</h2>
    <dl>
      <% @categories_for_page.each do |category| %>
        <dt>
          <form action="/budget/categories/<%= category[:id] %>">
            <button type="submit" class="heading"><%= category[:name] %></button>
          </form>
          <form action="/budget/categories/<%= category[:id] %>/delete" method="post">
            <input type="hidden" value="<%= category[:id] %>" name="category_id">
            <button
              onclick="return confirm('Are you sure? Deleting the category will permanently delete all its expenses, and the allocated funds will be returned to the uncategorized portion of your budget.')" class="delete" type="submit"></button>
    
          </form>
        </dt>
        <dd class="amounts">
          <ul>
            <li>
              <dt>Budgeted Amount:</dt>
              <dd><%= format_currency(category[:total]) %> </dd>
            </li>

            <li>
              <dt>Remaining:</dt>
              <dd class="<%= remaining_amount_class(category[:remaining]) %>"><%= format_currency(category[:remaining]) %></dd>
            </li>

            <li>
              <dt>Spent:</dt>
              <dd><%= format_currency(category[:spent]) %></dd>
            </li>
          </ul>
        </dd>
      <% end %>
    </dl>

    <nav class="pagination">
      <% if disable_previous?(@page) %>
        <span class="navigate disabled">Previous</span>
      <% else %>
        <span class="navigate"><a href="/budget?page=<%= @page.to_i - 1 %>">Previous</a></span>
      <% end %>

      <% (1..number_of_pages(@totals[:category_count].to_i)).each do |pagenum| %>
        <% if pagenum == @page %>
          <span class="current"><%= pagenum %></span>
        <% else %>
          <span><a href="/budget?page=<%= pagenum %>"><%= pagenum %></a></span>
        <% end %>
      <% end %>

      <% if disable_next?(@page, @totals[:category_count]) %>
        <span class="navigate disabled">Next</span>
      <% else %>
        <span class="navigate"><a href="/budget?page=<%= @page.to_i + 1 %>">Next</span>
      <% end %>
    </nav>
  </section>
<% end %>
